---
sources:
    - name: some_pollsters
      interval: 60
      meters:
        - cpu
        - cpu_util
        - memory.*
        - disk.*
        - network.incoming.bytes
        - network.incoming.packets
        - network.outgoing.bytes
        - network.outgoing.packets
        - hardware.*
        - image.*
        - volume.*
        - snapshot.*
        - bandwidth
