[DEFAULT]
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ openstack_vip_address }}

[dispatcher_gnocchi]
filter_service_activity = False
archive_policy = high

[service_credentials]
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}/v3
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = ceilometer
password = {{ ceilometer_user_password }}
interface = internalURL
region_name = RegionOne

