[DEFAULT]
log_dir = /var/log/keystone
{% set rabbitmq_cluster = [] %}
{%- for host in groups.controller -%}
{{ rabbitmq_cluster.append( rabbitmq_user+":"+rabbitmq_password+"@"+host ) }}
{%- endfor -%}

transport_url = rabbit://{{ rabbitmq_cluster|join(',') }}

[cors]
allowed_origin = http://{{ openstack_vip_address }}:{{ grafana_port }}

[credential]

[database]
connection = mysql+pymysql://keystone:{{ keystone_db_password }}@{{ openstack_vip_address }}/keystone

[token]
provider = fernet

[cache]
{% set memcached_cluster = [] %}
{%- for host in groups.controller -%}
{{ memcached_cluster.append( host+":"+'11211' ) }}
{%- endfor -%}

memcached_servers = {{ memcached_cluster|join(',') }}

