[DEFAULT]

[agent]

[linux_bridge]
physical_interface_mappings = provider:{{ network_public_interface }}

[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
enable_security_group = true

[vxlan]
enable_vxlan = true
local_ip = {{ ansible_default_ipv4.address }}
l2_population = true
