[DEFAULT]
core_plugin = ml2
#service_plugins = router,neutron_lbaas.services.loadbalancer.plugin.LoadBalancerPluginv2
service_plugins = router
allow_overlapping_ips = true
{% set rabbitmq_cluster = [] %}
{%- for host in groups.controller -%}
{{ rabbitmq_cluster.append( rabbitmq_user+":"+rabbitmq_password+"@"+host ) }}
{%- endfor -%}

transport_url = rabbit://{{ rabbitmq_cluster|join(',') }}
auth_strategy = keystone
notify_nova_on_port_status_changes = true
notify_nova_on_port_data_changes = true
bind_host = {{ ansible_default_ipv4.address }}

# linux bridge HA settings
l3_ha = True
max_l3_agents_per_router = 0
dhcp_agents_per_network = {{ groups['controller'] | length }}


[agent]
root_helper = sudo /usr/bin/neutron-rootwrap /etc/neutron/rootwrap.conf

[database]
connection = mysql+pymysql://neutron:{{ neutron_db_password }}@{{ openstack_vip_address }}/neutron

[keystone_authtoken]
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}
auth_uri = http://{{ openstack_vip_address }}:{{keystone_port}}
{% set memcached_cluster = [] %}
{%- for host in groups.controller -%}
{{ memcached_cluster.append( host+":"+'11211' ) }}
{%- endfor -%}
memcached_servers = {{ memcached_cluster|join(',') }}
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_user_password }}

[nova]
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_user_password }}

[oslo_messaging_notifications]
driver = messagingv2

[oslo_messaging_rabbit]
rabbit_retry_interval = 1
rabbit_retry_backoff = 2
rabbit_ha_queues = true
