[DEFAULT]
{% if ansible_distribution == "CentOS"  or ansible_distribution == 'Red Hat Enterprise Linux' %}
enabled_apis = osapi_compute,metadata
{% endif %}
state_path = /var/lib/nova
my_ip = {{ ansible_default_ipv4.address }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ openstack_vip_address }}

[api]
auth_strategy = keystone

[api_database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@{{ openstack_vip_address }}/nova_api

[cells]
enable = False

[cinder]
os_region_name = RegionOne

[database]
connection = mysql+pymysql://nova:{{ nova_db_password }}@{{ openstack_vip_address }}/nova

[glance]
api_servers = http://{{ openstack_vip_address }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[keystone_authtoken]
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}/v3
memcached_servers = {{ openstack_vip_address }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_user_password }}

[neutron]
url = http://{{ openstack_vip_address }}:9696
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = neutron
password = {{ neutron_user_password }}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{ metadata_secret }}

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ openstack_vip_address }}:{{keystone_port}}/v3
username = placement
password ={{ plancement_user_password }}

[vnc]
enabled = true
vncserver_listen = $my_ip
vncserver_proxyclient_address = $my_ip

[scheduler]
discover_hosts_in_cells_interval = 300
